* {
    box-sizing: border-box;
}

body {
    background-color: #000010;
    font-family: 'Arial','Lucida Grande';
}

#container {
    width: 100%;
    height: 500px;
    border-radius: 5%;
    border: thin grey solid;
    margin: 25% auto;
    background-color: #111111;
    display: grid;
    grid-template-rows: 1.1fr repeat(5, 1fr);
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    padding: 2%;
}

@media only screen and (min-width: 500px) {
    #container {
        width: 80%;
    }
}

@media only screen and (min-width: 700px) {
    #container {
        width: 60%;
        height: 600px;
        margin: 20% auto;
        font-size: 120%;
    }
}

@media only screen and (min-width: 900px) {
    #container {
        height: 500px;
        width: 40%;
        margin: 5% auto;
    }
    #equals {
        padding-top: 30%;
    }
}

@media only screen and (min-width: 1200px) {
    #container {
        width: 30%;
    }
}

@media only screen and (min-width: 1400px) {
    #container {
        width: 25%;
    }
}

#container div {
    border: thin grey solid;
    border-radius: 4%;
    text-align: center;
    color: lightgrey; 
    font-size: 200%;
}

#display {
    grid-area: 1/1/2/5;
    background-color: darkgreen;
    overflow: hidden;
    text-align: right;
    white-space: nowrap;
}

#display p {
    float: right;
    padding: 5% 2% 0 2%;
    margin: 0;
    color: greenyellow;
    font-family: 'Digital-7';
    font-size: 150%;
}

.allButtons {
    padding-top: 10%;
}

.numbersAndDecimal {
    background-color: black;
}

.numbersAndDecimal:hover {
    background-color: #1B0029;
    color: white;
    transition: 0.2s;
}

#clear {
    grid-area: 2/1/3/2;
}

#delete {
    grid-area: 2/2/3/3;
}

.orangeButtons {
    background-color: #cc6b11;
}

.orangeButtons:hover {
    background-color: #a0530c;
    transition: 1s;
}

#multiply {
    grid-area: 2/3/3/4;
}

#divide {
    grid-area: 2/4/3/5;
}

#add {
    grid-area: 3/4/4/4;
}

#subtract {
    grid-area: 4/4/5/5;
}

#equals {
    grid-area: 5/4/7/5;
    background-color: #BE0F0F;
    padding-top: 60%;
}

#zero {
    grid-area: 6/2/7/4;
}

