body {
    background-color: #000010;
}

#container {
    width: 40%;
    border-radius: 5%;
    height: 500px;
    border: thin grey solid;
    margin: 5% auto;
    background-color: black;
    display: grid;
    grid-template-rows: 1.5fr repeat(5, 1fr);
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    padding: 2%;
}

#container div {
    border: thin grey solid;
    border-radius: 3%;
    text-align: center;
    vertical-align: middle;
    color: grey;
    font-size: 150%;
    font-family: Arial;
    padding-top: 15%;
}

#display {
    grid-area: 1/1/2/5;
    background-color: darkgreen;
}


#clear {
    grid-area: 2/1/3/2;
}

#delete {
    grid-area: 2/2/3/3;
}

#multiply {
    grid-area: 2/3/3/4;
}

#divide {
    grid-area: 2/4/3/5;
}

#add {
    grid-area: 3/4/4/4;
}

#subtract {
    grid-area: 4/4/5/5;
}

#equals {
    grid-area: 5/4/7/5;
}

#zero {
    grid-area: 6/2/7/4; 
}

