#container {
    width: 40%;
    border-radius: 5%;
    height: 500px;
    border: thin black solid;
    margin: 5% auto;
    background-color: lightgray;
    display: grid;
    grid-template-rows: 2fr repeat(5, 1fr);
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}

#container div {
    border: thin black solid;
}

#display {
    grid-area: 1/1/2/5;
    background-color: green;
}


#clear {
    grid-area: 2/1/3/2;
}

#delete {
    grid-area: 2/2/3/3;
}

#multiply {
    grid-area: 2/3/3/4;
}

#divide {
    grid-area: 2/4/3/5;
}

#add {
    grid-area: 3/4/4/4;
}

#subtract {
    grid-area: 4/4/5/5;
}

#equals {
    grid-area: 5/4/7/5;
}

#zero {
    grid-area: 6/2/7/4; 
}

